.composer-require-checker.json export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.travis.yml export-ignore
.phpcq.lock export-ignore
.phpcq.yaml.dist export-ignore
phpcs.xml.dist export-ignore
phpspec.yml export-ignore
psalm.xml export-ignore
/tests export-ignore
/specs export-ignore
/docs export-ignore

phpcq.lock binaryv
